#content {
	text-align: center; 
	padding-top: 25%; 
}

body {
	background: url(https://images.unsplash.com/photo-1517963879433-6ad2b056d712?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44d61d92470aca6a8cb6819f6d4c1aa8&auto=format&fit=crop&w=2850&q=80);
	background-size: cover; 
	font-family: Fahkwang;
	color: white;
	border-color: black;
}

h1 {
	font-weight: 700;
	font-size: 5em;
	text-shadow: 		-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

h3 {
	text-shadow: 		-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

h4 {
	font-size: 2em;
	text-shadow: 		-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

html {
	height: 100%; 
}

hr {
	width: 400px; 
	border-top: 1px solid #f8f8f8; 
	border-bottom: 1px solid rgba(0,0,0,0.2);

}

form {
    display: block;
	font-size: 1em;
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

input {
	margin-right: 40px;
	font-size: 1em;
}

label {
	margin-right: 3px;
	font-size: 1em;
}

.input-box {
	color: black;
}

.loginButton {
	background-color: white;
	color: black;
	border: black;
	height:40px;
	width:90px;
}

.accountButton {
	background-color: white;
	color: black;
	border: black;
	height:40px;
	width:90px;
}

.navButton {
	font-size: large;
	background-color: white;
	color: black;
	border: black;
	height: 100px;
	width: 160px;
	display: block;
	text-align: center;
	opacity: 0.7;
}

.divider{
	width:5px;
	height: 20px;
	display:inline-block;
}

.exerciseForm{
    width: 8px;
	color: black;
}

.formInput {
	color: black;
}

.selectForm {
	color: black;
	width: 200px;
}

.table-background{
	background-color: black;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}