<!DOCTYPE HTML>
<html>
<head>
    <title>Let's Lift - Create Exercise</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Fahkwang" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css">
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/accountHome" class="navbar-brand">Let's Lift</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
                <li ><a href="/workout">Workouts</a>
                <li><a href="/exercise">Exercises</a>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a>
                <li><a href="/login">Sign in</a>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1>CREATE EXERCISE</h1>
        <div class="formText">
            <form action="#" th:action="@{/exercise/createExercise}" th:object="${exercise}"  method="post">
                    Exercise name:<br>
                    <input type="text" class="formInput" name="exercise-name" size="50"
                           th:field="*{exerciseName}"><br>
                    <div class="divider"></div>
                    Weight:<br>
                    <input type="text" class="formInput" name="weight" size="50"
                           th:field="*{weight}"><br>
                    <div class="divider"></div>
                    Reps:<br>
                    <input type="text" class="formInput" name="reps" size="50"
                           th:field="*{reps}"><br>
                    <div class="divider"></div>
                    Workout:<br>
                    <select th:field="*{workout}" name="workout" class="selectForm">
                        <option th:each="workout : ${workouts}"
                                th:value="${workout.workoutID}"
                                th:text="${workout.workoutName}">
                        </option>
                    </select>
                    <br><br>
                    <input type="submit" class="input-box">
            </form>
        </div>
        <div class="col-lg-12">
            <div id="content">
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>